<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap" rel="stylesheet">

  </head>
  <body>

    <div class="container">

      <div class="section group">
      	<div class="col span_4_of_4">
      	   <h1>Weekly Real Estate Feed <span class="date" style="margin-left: 5px;">June 1, 2019</span></h1>
      	</div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4">
          <h2>Presented by</h2>
        </div>
        <div class="col span_3_of_4">
          <img class="agent" src="img/user.png" /><span class="agent_name">Jon Gerhartz<span>
        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4">
          <h2>June 1, 2019</h2>
        </div>
        <div class="col span_3_of_4">
          <h3>Title 1</h3>
          <p class="article_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <a class="article_link" href="xyz.com/asdfasdf">Read more...</a>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_4">
          <h2>June 1, 2019</h2>
        </div>
        <div class="col span_3_of_4">
          <h3>Title 1</h3>
          <p class="article_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <a class="article_link" href="xyz.com/asdfasdf">Read more...</a>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_4">
          <h2>June 1, 2019</h2>
        </div>
        <div class="col span_3_of_4">
          <h3>Title 1</h3>
          <p class="article_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <a class="article_link" href="xyz.com/asdfasdf">Read more...</a>
        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4">
          <h2>Sponsored by</h2>
        </div>
        <div class="col span_3_of_4">
          <table>
            <tr>
              <td><img class="sponsors" src="img/samsel.png" /></td>
              <td><img class="sponsors" src="img/samsel.png" /></td>
              <td><img class="sponsors" src="img/samsel.png" /></td>
            </tr>
          </table>

        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4">
          <h2>Powered by</h2>
        </div>
        <div class="col span_3_of_4">
          <a class="powered_by" href="https://www.fieyomedia.com/">Fieyo Media</a>
        </div>
      </div>


		</div>

  </body>
</html>
